@model PasswordResetViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4>Şifre  yenileme linki, mailinize gönderilecektir. </h4>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <form method="post">
            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-sm-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success col-md-12">Gönder</button>
        </form>
    </div>
</div>

